<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link
       href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome-min.css"
       rel="stylesheet"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap-min.is"></script>
    <title>Portfolio</title>
</head>

<body>

    <div class="frame">
        <!-- Main_frame start -->
        <div class="main_frame">
            <!-- left_frame start -->
             <div class="left_frame">

                <div class="left_1">
                    <div class="left_1_1">
                        <img src="images/profile.png"
                          width="156px"
                          height="142px" 
                          alt=""
                          />
                    </div>
                    <div class="left_1_2"><%=user.name%></div>
                    <div class="left_1_3"><%=user.profession%></div>
                    <div class="left_1_4">
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icons/Vector.svg" class="icon-1" />
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icons/Vector-1.svg" class="icon-1" />
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icons/Vector-2.svg" class="icon-1" />
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icons/Vector-3.svg" class="icon-1" />
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icons/Vector-4.svg" class="icon-1" />
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icons/Vector-6.svg" class="icon-1" />
                            </div>
                        </a>
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left_2">
                    <div class="left_2_1">
                        <div class="left_2_left">Age:</div>
                        <div><%=user.age%></div>
                    </div>
                    <div class="left_2_1">
                        <div class="left_2_left">Residence:</div>
                        <div><%=user.residence%></div>
                    </div>
                    <div class="left_2_1">
                        <div class="left_2_left">Freelance:</div>
                        <div class="left_2_right">Available</div>
                    </div>
                    <div class="left_2_1">
                        <div class="left_2_left">Adress:</div>
                        <div><%=user.adress%></div>
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left_3">
                    <div class="left_3_skill">Languages</div>
                    <div>
                        <div class="left_2_1">
                            <div>Uzbek</div>
                            <div>100%</div>
                        </div>
                        <div><img src="icons/p100.svg"/></div>
                    </div>
                    <div>
                        <div class="left_2_1">
                            <div>Korean</div>
                            <div>80%</div>
                        </div>
                        <div><img src="icons/p80.svg"/></div>
                    </div>
                    <div>
                        <div class="left_2_1">
                            <div>English</div>
                            <div>60%</div>
                        </div>
                        <div><img src="icons/p60.svg"/></div>
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left_4">
                    <div class="left_3_skill">Skills</div>
                    <div>
                        <div class="left_2_1">
                            <div>Html</div>
                            <div>90%</div>
                        </div>
                        <div><img src="icons/p90.svg"/></div>
                    </div>
                    <div>
                        <div class="left_2_1">
                            <div>CSS</div>
                            <div>85%</div>
                        </div>
                        <div><img src="icons/p85.svg"/></div>
                    </div>
                    <div>
                        <div class="left_2_1">
                            <div>Js</div>
                            <div>80%</div>
                        </div>
                        <div><img src="icons/p80.svg"/></div>
                    </div>
                    <div>
                        <div class="left_2_1">
                            <div>PHP</div>
                            <div>75%</div>
                        </div>
                        <div><img src="icons/p75.svg"/></div>
                    </div>
                    <div>
                        <div class="left_2_1">
                            <div>WordPress</div>
                            <div>85%</div>
                        </div>
                        <div><img src="icons/p85.svg"/></div>
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left_5">
                    <div class="left_3_skill">Extra Skills</div>
                    <div class="left_5_value">
                        <div><img src="icons/icon.svg"/></div>
                        <div>Bootstrap, Materialize</div>
                    </div>
                    <div class="left_5_value">
                        <div><img src="icons/icon.svg"/></div>
                        <div>Stylus, Sass, Less</div>
                    </div>
                    <div class="left_5_value">
                        <div><img src="icons/icon.svg"/></div>
                        <div>Gulp, Webpack, Grunt</div>
                    </div>
                    <div class="left_5_value">
                        <div><img src="icons/icon.svg"/></div>
                        <div>Git Knowledge</div>
                    </div>
                </div>
                <div class="marginer"></div>
                

             </div>
            <!-- left_frame end -->

            <!-- midd_frame start -->
            <div class="midd_frame">

                <div class="midd_top">
                    <div class="midd_left">
                        <div class="midd_left_1">
                            Doctor neurologists in OHSU hospital
                        </div>
                        <div class="midd_left_2">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        Amet minim mollit non deserunt ullamco est sit aliqua 
                        dolor do amet sint. Velit officia consequat
                        </div>
                        <input type="button" class="midd_left_btn" value="HIRE ME &rarr;">
                    </div>
                    <div class="midd_right">
                        <img src="images/portfolio.jpg"
                        width="326px"
                        height="446px"
                        alt=""
                        />
                         
                    </div>
                </div>

                <div class="midd_bot">

                    <div class="midd_bot_ser">My Services</div>

                    <div class="midd_bot_val">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. lorem ipsum</div>

                    <div class="cards">

                        <div class="card">
                            <div class="card-icon"><img src="icons/web_dev.svg" alt=""></div>
                            <div class="card-h-text">web development</div>
                            <div class="card-text">blog, e-commerce</div>
                        </div>
                        <div class="card">
                            <div class="card-icon"><img src="icons/ui_d.svg" alt=""></div>
                            <div class="card-h-text">uI/uX design</div>
                            <div class="card-text">Mobile app, website design</div>
                        </div>
                        <div class="card">
                            <div class="card-icon"><img src="icons/mic.svg" alt=""></div>
                            <div class="card-h-text">sound design</div>
                            <div class="card-text">Voice Over, Beat Making</div>
                        </div>
                        <div class="card">
                            <div class="card-icon"><img src="icons/game_d.svg" alt=""></div>
                            <div class="card-h-text">game design</div>
                            <div class="card-text">Character Design, Props & Objects</div>
                        </div>
                        <div class="card">
                            <div class="card-icon"><img src="icons/photgraph.svg" alt=""></div>
                            <div class="card-h-text">photography</div>
                            <div class="card-text">portrait, product photography</div>
                        </div>
                        <div class="card">
                            <div class="card-h-text">Advertising</div>
                            <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae nulla diam in ac dictum a urna viverra morbi. </div>
                            <div class="card-icon"><img src="icons/order_now.svg" alt=""></div>
                        </div>

                        

                    </div>

                </div>

                

            </div>
            <!-- midd_frame end -->

            <!-- right_frame start -->
            <div class="right_frame">

                <div class="right_frame_1"><img src="icons/Contrast.svg" alt=""></div>
                <div class="right_frame_2"><img src="icons/Home.svg" alt=""></div>
                <div class="right_frame_3">

                    <div><img src="icons/Service.svg" alt=""></div>
                    <div><img src="icons/Cv.svg" alt=""></div>
                    <div><img src="icons/Portfolio.svg" alt=""></div>
                    <div><img src="icons/Blog.svg" alt=""></div>
                    <div><img src="icons/Contact.svg" alt=""></div>

                </div>

            </div>
            <!-- right_frame end -->


        </div>
        <!-- Main_frame end -->
    </div>
    
    
</body>

</html>
